<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="false">
	<description>Spring Hession 服务端配置</description>
	<!-- 同步传感器数据采集 -->
	<!-- <bean name="/syncMonitorAutoCollectData" class="org.springframework.remoting.caucho.HessianServiceExporter">
	    <property name="service" ref="syncMonitorAutoCollectDataServiceImpl"/>
	    <property name="serviceInterface" value="com.dzmsoft.monitor.api.service.SyncMonitorAutoCollectDataService"/>
	</bean> -->
	
</beans>